{% extends  "base.html"%}
{% block content %}
<center><p style="font-size:40px">word wide web of fish </p><b><h2>word wide web of fish</h2><b></center>
<style type="text/css">
	body
	{
	background-image: url(https://ep01.epimg.net/elpais/imagenes/2018/04/02/mundo_animal/1522660801_641774_1522662021_noticia_normal.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	}
</style>

<script type="text/javascript" src="{{ url_for('static', filename='js/libraris/p5/p5.min.js')}}">		
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libraris/p5/addons/p5.dom.min.js')}}">
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/drawFISHTANK/drawFISHTANK.js')}}">
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/drawFISHTANK/FISHTANK.js')}}">
</script>
     
<meta charset="UTF-8"> 
<p id="figura"> figura<p>
<form id="From1" name="From1" >

<p id="lado01">lado 1<p>
<input type="text" id="entrada_lado_1">

<p id="lado02">side 2<p>
<input type="text" id="entrada_lado_2">

<p id="lado03">side 3<p>
<input type="text" id="entrada_lado_3">

<br>
<select id="Selecion1" name="Selecion1">
  <option id="prisma_rectangular " value="prisma_rectangular">prisma rectangular</option>
  <option id="cubica" value="cubica">cubica</option>
 <!--<option id="fishtank_classic" value="fishtank_classic">fishtank_classic</option>-->
  <option id="prisma_triangular " value="prisma_triangular">prisma triangular</option>
  <option id="cilindro" value="cilindro">cilindro</option>
</select>
<br><br>
<input type="button" onclick="setInterval(draw,500)" value="calcular">
<p id="parrafo" ></p>
</form>
<!--

<table border="2">
	<tr>
		<td>objet	</td>		
		<td>side 1	</td>		
		<th>side 2 </th>
		<th>side 3 </th>
		<th>show draw </th>
	</tr>
	<tr>
		<td>fishtank_classic	</td>		
		<td>big radio r	</td>		
		<th>small radio R </th>
		<th>heigth h </th>
		<th>true</th>
	</tr>
	<tr>
		<td>cubic	</td>
		<th>large needed</th>
		<td>heigth not	needed</td>
		<th>width not needed </th>
		<th>true</th>
	</tr>
	<tr>
		<td>rectangular prism	</td>
		<th>large </th>
		<td>heigth	</td>
		<th>width  </th>
		<th>true</th>
	</tr>
	<tr>
		<td>triangular prism	</td>
		<td>heigth in z axis 	</td>
		<th>base </th>
		<th>heigth in x and y axis   </th>
		<th>false</th>
	</tr>
</table> 

--> 
unidades Litros (L), centimetros (cm) <h5>y por si la bascula esta en onzas 33.814</h5>

{% endblock %}
