
{% extends  '/wwwof/template.html'%}
{% block content %}
<!--

favor no criticar ortigrafia si le apetese cambiela

Please do not criticize spelling if you feel like changing it

I do not speak English very well

I am lerning making proyects

Thank for comprehension

gracias por la comprensión

:-)
-->
<h1><p>what is Wwwof?</p></h1>
<center>
<h1>
	<p>Wwwof is a set of fish proyects</p>
</h1>
<img src="http://wiki.unloquer.org/_media/personas/jero98772/hackerpezpezcamisa.png">
<br>
<h4>
	<p>diferents name from same thing</p>
</h4>
	<div>	
		<br>
		<p>Wwwof</p>
		<br>
		<p>Wwwofish</p>
		<br>
		<p>Word wide web of fish</p>
		<br>
	</div>
<h1>
	<u>
	<p>Soon in other languages .</p>
	<!--i made possible by speak spanish can you imagine in other language-->
	</u>
</h1>		
<h1><p>
	how we work in 
	<b>wwwof</b>
	</p>
</h1>
<h2>cacharreo? what is cacharreo</h2>
<p>
	cacharreo is empirical way to to do, to try, to correct, to have fun  and i like to learn
</p>
<p>
	it is very good way to use it when you recycle things 
</p>
<!--inetntar hasta logar algo y ensayar contodo el desoreden reciclar cosas "basura"
<h2>meta la mano sin miedo </h2>
-->
<h3>
<p>
	In Spanish they sometimes say a rhyme 
</p>
<p>
	<code>
		Ver y no tocar se llama respetar 
	</code>
</p>
<p>
	In English it would be similar to
</p>
<p>
	<code>
		Seeing and not touching is called respect
	</code>
</p>
</h3>
<h2>
	<p>I think:</p>	
</h2>
<h1>
	<code>
		<br>
		<p>
			<b>
				
			see and don't touch doesn't work here
			</b>
		</p>
		<br>	
	</code>
</h1>
<h2>	
	<p>
		the best cocept working and already done is the better way to survive 
	</p>	
</h2>
<h1>
	<p> i can contribute?</p>
	<br>
	<p>yes ,how you like</p>
</h1>
<h3>
	<p>if you like you can propose your contributions</p>
	<p> or</p>
	<p>you can do you propose and show us</p>
	<br>
	things like 
	<ul>
		<p>proyects</p>
		<p>propose</p>
		<p>issus</p>
		<p>sick fish imagen</p>
		<p>translate</p>
		<p>solve spelling and writing problems</p>
		<p>better web design</p>
	</ul>
</h3>
<h1> 
	<p>
		contact us <code>curapeces@gmail.com</code>
	</p>
	<br>
	<p>		
	little note
	</p>
</h1>
<h3>
	<p>now and after are slow with salt water fishes</p>
	<p>where is this developed have problems to test and use this software tools </p>
	<p>because salt water fishes are ilegal in this country</p>
</h3>
<h2>
	<p>if you like you can help with this part </p>
</h2>
<code>
	... The law is the law
</code>
<!--la idea que mejor funcione es la que mas dure 
<h2>aportes</h2>
todo tipo de ideas se reciben ya hechas o corregidos o para errores o ya ocerregidos son bien recibidos si se sabe programar o si quiere aprednder con un proyecto este es su lugar pero se reciben informaciones ,sugerencias y datos <h1>tambien puede enviar imagenes de peces enfermos</h1> ya que seran respetadas y a total voluntad del usuario tambien se puede informar detalladamente si va enviar esto publiquelo en git de wwwof  o al corroe de curapeces@gmail.com
<h3>sub "metodologias"</h3>
ensayar contodo
<h1>notas</h1>
en mi pais son ilegales los peces de agua salada por lo cual no tengo mucha experiencia con ellos pero me gustaria aprender con un "proyecto" o cuidando uno de los peces de agua salada pero la ley es la ley y hay que respetarla
para ver los informes y los ensayos y mas <a href="informe_de_ensayos.html">informe_de_ensayos</a>
<h6> favor no criticar ortigrafia si le apetese cambiela</h6>
-->
<h1><b>wwwof trophy</b></h1>
<br>
<img src="{{ url_for('static', filename='img/art.jpg')}}">
<h3>by stencil malibu  or seliotoy</h3>
</center>
{% endblock %}
