<!--
{%set wwwof = "/wwwof/"%}
{%set howproyects = "/wwwof/howproyects/"%}
-->
{%set wwwof = "/"%}
{%set howproyects = "/howproyects/"%}

	<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="shortcut icon"  href="http://wiki.unloquer.org/_media/personas/jero98772/icon.ico"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Word Wide Web of Fish</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wwwof/templateStyle.css')}}">
<center>
		<div id="header">	
		<ul class="bar">
			<li><a href="/">main menu</a></li>
				<li><a href="{{howproyects}}">howProyects/how is made this proyects   </a>						
					<ul>
						<li><a href="{{howproyects}}howcalcupH_js.html">howcalcuph</a>	</li>
						<li><a href="{{howproyects}}howDrawfishtank.html">howdrawFISHTANK</a>	</li>
						<li><a href="{{howproyects}}howcurapeces.html">howcurapeces</a>	</li>
						<li><a href="{{howproyects}}howfishdb.html">howfishdb</a>	</li>

					</ul>
				</li>
				<li><a href="">notes</a>
					<ul>
						<li><a href="{{wwwof}}notasCurapeces.html">notas de Curapeces </a></li>
						<li><a href="{{wwwof}}fishproyectsES.html">proyectos para peces </a></li>
						<li><a href="{{wwwof}}fishproyectsEN.html">proyects for fishes </a></li>
					</ul>
				</li>
				<li><a href=""> Proyects  </a>
					<ul>
						<li><a href="{{wwwof}}calcupH.html">calcuPH</a> </li>
						<li><a href="{{wwwof}}drawFISHTANK.html">drawFISHTANK</a></li>
						<li><a href="{{wwwof}}divePC.html">divePC</a></li>
						<li><a href="{{wwwof}}curapeces.html">curapeces</a></li>
						<li><a href="{{wwwof}}data_basecsv.html">data_basecsv</a></li>
						<li><a href="{{wwwof}}" onclick="alert('you are now in wwwof')">WWWoF</a></li>
					</ul>
				</li>
				<li><a href="">source  </a>
					<ul>
						<li><a href="https://github.com/jero98772/calcupH_js">calcuPH</a> </li>
						<li><a href="https://github.com/jero98772/DrawFishtank">drawFISHTANK</a></li>
						<li><a href="http://wiki.unloquer.org/personas/jero98772/requeriminetos-para-semihacker/proyectos-sueltos/wwwof/divepc/start">divePC</a></li>
						<li><a href="https://github.com/jero98772/curapeces">curapeces</a></li>
					<!--li><a href="bechmarck.html">bechmarck</a></li-->
						<!--li><a href="https://github.com/jero98772/wwwofish">divePC</a></li-->
						<li><a href="https://github.com/jero98772/wwwofish">WWWOF</a></li>
					</ul>
				</li>

				<li><a href="">word wide web of fish is freesoftware</a>
					<ul>
						<li onclick="alert('fix')"><a>have problems? </a> </li>

						<li onclick="alert('conviertelo como te gusta')"><a>ves algo que no te gusta?</a></li>

						<li onclick="alert('conviertelo rapido ya sea optimisandolo donando para  equipo y corriendo el codigo etc')"><a>muy lento? </a></li>
						<li onclick="alert('agregaselo')"><a> le falta algo?</a></li>
						<li onclick="alert('ayuda')"><a>quiero ayudar</a></li>
						<li onclick="alert('como quieras y puedas hay esta la planeacion')"><a>como puedo ayudar?</a></li>
						<li onclick=" alert('	soon In other languages ,i made possible by speak spanish can you imagine in other language ,can you    translate it or use https://translate.google.com/')"><a>I do not speak Spanish </a></li>
						<li onclick="alert('ponlo a funcionar')"> <a>no funciona </a></li>
						<li onclick="alert('HAZLO/do it ')"><a>  no digas que vas a hacer .../ don't say what are you going to do"</a></li>
						<li onclick="alert('se soluciona')"><a>dañe algo</a></li>
						<li><a href="/www_of/why.html">because it's done like this</a></li>
						<li><a href="/www_of/porque.html">porque esta hecho asi</a></li>
					</ul>
				</li>


			</ul>

		</div>
	</center>
	<br>
	<br>
	<br>
	<br>
	{% if false %}
		{% for i in range(25)%}
			<br>
		{% endfor %}
	{% endif %}	
	<div id="webContent">
{% block content %}

{% endblock %}
</div>
	{% if false %}
		{% for i in range(25)%}
			<br>
		{% endfor %}
	{% endif %}	
<br>
<br>
<br>
<br>
<br>
<br>
<div id="end" style="background-color: rgb(0,0,155,0.7);">
	<a href="https://gitlab.com/jero98772
"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F18%2FGitLab_Logo.svg%2F1108px-GitLab_Logo.svg.png&f=1&nofb=1" height="100" width="100"></a>
	<a href="https://github.com/jero98772"><img src="https://img.pngio.com/github-logo-icon-of-glyph-style-available-in-svg-png-eps-ai-github-icon-png-256_256.png" height="100" width="100"></a>
	<a href="mailto:curapeces@gmail.com">
	<img src="{{ url_for('static', filename='img/mail.png')}}" height="100" width="100">
	</a>
	<a href="/donacionbtc.html">
	<span onclick='alert("bitcoin wallet: \n bc1qf3eh6ssgzw2t3qyjk2gzwuskq4ctfk8375fg3r")'>
		
	<img src="https://bitcoin.org/img/icons/opengraph.png?1584741964" height="100" width="100">
	</span>
	</a>
	<img src="http://wiki.unloquer.org/_media/wiki/logo.png" height="100" width="100">
	<img src="https://arteymedios.org/media/k2/items/cache/92c3523de61d06eebdc515f2babb64b9_XL.jpg" height="100" width="100">
	<img src="https://blog.powerdata.es/hs-fs/hub/239039/file-1056751617-png/images/opensource-logo-resized-600.png"height="100" width="100" >
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Open-source-hardware-logo.svg/200px-Open-source-hardware-logo.svg.png" height="100" width="100" >
<!-- i dont wait this work how i like -->
</div>

</body>
</html>
