{% extends "/wwwof/template.html" %}
{% block content%}
 <p><p>Acuario domotico<p>
 <p> sensor agua</p>
 <p> Calcular porque la evacoparacion del acuario</p>
 <p> Calcular filtraje total y limpisa  </p>
 <p> flujo hidrodinamica </p>
 <p> Calcular vida no vista y suciedad minima</p>
<br>
<p> inteligencia artificial Cuando se enferma un pez  </p>
<p><font color="green"> Identificar enfermedades de peces </font></p>
<p>predictor de cria</p>
<p>predictor clima </p>
<p>Predictor de clima y relacion acuatica con peces</p></p>
<br>
<p>Extra</p>
<br>
<p> Mapa de peces </p>
<p> Base de datos </p>
<p> peces Comaparar precios tiendas de acuarios</p> 
<p><b><font color="green"> Computador dentro de acuario</font></b></p>
<br>
<p>Mini proyectos </p>
<br>
<p><b><font color="green">Calcular litros 3D </font></b></p>
<p> Mini registro de datos apartir de electronica</p>
<p> peces en archivo csv Registro acuario </p>
<p> toma de notas del acuario </p>
<p> Calculadora de  gasto energia</p>
<p> camara para controlar territotialidad  </p>
<p><b><font color="green">calcuPH</font></b></p>
<br>
<!--p>Plan de ejecucion Se nesesita el sensor de calidad de aire ,inteligencia artificialre para evaporacion del acuario y para predictor de clima relacion acuatica por si se esta evapornado mucho es el … calor posiblemente del exterior y interior y mas propiedades dentro del agua</p>
<br>
<p>Con calcular vida no vista serviría para calcular arena suelta material particulado Si en el sensor de calidad de inteligencia artificialre hay muho marerial particulado sirve para ver si hay va haber mucho en el agua y para eso resina de intercabio ionica y sabe. Mos que con mucha suciedad se enferma los peces enespecial (girodactilo el de las agallas) para curar enfermedades de peces y predictor de cria y si el acuario (tocaria ver si. Las bacterias aerobiacas se las derecta para ver si hay un nivel de limpiesa con ellas)</p>
<br>
<p>Flujo para ver si se nesista menos para que crien para que no tire poca agua para afuera del acuario y asi capture material particulado el clima con la luna para el predictor de cria y evaporacion el agua por agua salpicada o por la velocidad o por que se calienta los motores</p>
<br>
<p>Predictor de cria mediante los datos anteriores y mas como humedad en el anbiente salud del pez ,corriente del agua ,si hay muchas bacterias la temoeratura, por el mucho flujo que el filtro nose trage los alebines y que el clima se el adecuado con el predictor de clima dandole los datasets de el los senores</p>
<br>
<p>Predictor de. Clima agruape los datos de cada sensor y los utilese para predecir los siguientes datos de cada uno</p-->
<br>
<p>clasisificacion de estos proyectos segun para denominar cual ir ejecutando</p>
<br>
<p>Nombre :Principalmente_hardware_o_software:tiempo_limite:rama_de_la_informatica:nivel_math:identificador</p>
<br>
    <br><b>nombre</b> de la division del proyecto
    que abarca principalmente hardwere o software si tiene hardwere que no sea un computador de escritorio es hardware
    <br><b>tiempo limite</b> para poder avansar en otros proyectos o realisar todo de manera prototipo y irlo mejorando y varia dependiendo del equipo y la cantidad de integrantes
    <br><b>rama_de_la_informatica</b> –> para identificar de que se trata
     <br><b>ciencia</b> –> para identificar su complejidad
     <br><b>identificador </b> –> la idea del proyecto 
    <br>


   <table style="width:100%" border="5">
    </tr>

    <th><b>nombre del futuro proyecto</b> </th>
    <th>hardware o software</th>
    <th>tiempo</th>
    <th>rama_de_la_computacion</th>
    <th>ciencia que estudia</th>
    <th>identificador</th>
    <th>completado</th>

  </tr>
  <tr>
    <td><b>WWWOF   </b></td>
    <td style="background-color: gray;">ambos #por ser el proyecto central</td>
    <td style="background-color: gray;">44 años(hasta viejito para el tiempo libre)</td>
    <td>gestion de proyectos</td>
    <td>depende del proyecto</td>
    <td>unir todos los proyectos</td>
    <td><p><a target="_blank" href="https://github.com/jero98772/wwwofish">wwwofish</a><p></td>
  </tr>
  

    <tr>
    <td><b>divePC   </b></td>
    <td style="background-color: orange;" >Hardware</td>
    <td style="background-color: red;">2 semanas</td>
    <td>documentacion y DIY</td>
    <td>fisica</td>
    <td>computador sumergido en un acuario con liquidos</td>
    <td style="background-color: lime;" ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/1200px-Smiley.svg.png" height="25" width="25"><a target="_blank" href="http://wiki.unloquer.org/personas/jero98772/requeriminetos-para-semihacker/proyectos-sueltos/wwwof/divepc/start">divepc</td>
  </tr>
 
    <tr>
    <td><b>drawFISHTANK   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: red;">4 meses</td>
    <td>simulaciones</td>
    <td>geometria</td>
    <td>dibujar acuarios en un canvas</td>
     <td style="background-color: lime;" ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/1200px-Smiley.svg.png" height="25" width="25"><a target="_blank" href="https://github.com/jero98772/dibujo_acuario_p5js">drawFISHTANK</a></td>
 
  </tr>
   <tr>
    <td><b>calcuPH   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(350, 94.6%, 56.5%);">6 meses</td>
    <td>calcular procesos quimicos</td>
    <td>quimica especialemente ph </td>
    <td>resolver algunas ecuaciones que tengan que ver con PH</td>
     <td style="background-color: lime;" ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/1200px-Smiley.svg.png" height="25" width="25"><a target="_blank" href="https://github.com/jero98772/calcupH_js">calcupH_js</td>
  
  </tr>
    <tr>
    <td><b>csvFISH   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(350, 94.6%, 56.5%);">9 meses</td>
    <td>manejo datos</td>
    <td>optimización y estadística para que se a rapido</td>
    <td>acumular informacion de peces en un csv</td>
 
  </tr>
    <tr>
    <td><b>fishDB   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(350, 94.6%, 56.5%);">9 meses</td>
    <td>manejo datos</td>
    <td>optimización y estadística para que se a rapido</td>
    <td>acumular informacion de peces en una base de datos</td>
 
  </tr>
    <tr>
    <td><b>river   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(350, 94.6%, 56.5%);">9 meses</td>
    <td>simulacion</td>
    <td>fisica hidrodinamica</td>
    <td>basandose en las medidas de filtroaje por hora  de las cajas de los filtros se podrodra sacar un flujo de agua</td>
  </tr>
    <tr>
    <td><b>CUCHA   </b></td>
    <td  style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(350, 94.6%, 56.5%);">9 meses</td>
    <td>simulacion a partir de parametros</td>
    <td>particulas muy pequeñas que no se vean a simple vista y fisica</td>
    <td>Calcular vida no vista y suciedad minima dependiendo de algunos parametros ingresados</td>
  </tr>
  <tr>
    <td><b>nutritionist fish   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(39.4, 93.6%, 63.3%)" >1.5 años</td>
    <td>simulacion  </td>
    <td>alimentacion y termodinamica  entre otras </td>
    <td>un progrma que diga cada cuanto hay que darle de comer a los peces y la cantidad consultando en la base de datos o en el achivo   </td>
  </tr>
  </tr>
    <tr>
    <td><b>water2.5    </b></td>
    <td  style="background-color: orange;" >Hardware</td>
    <td style="background-color: hsl(39.4, 93.6%, 63.3%);">1.5 años</td>
    <td>sensores,iot,hardware y caliad agua  </td>
    <td>particulas muy pequeñas que no se vean a simple vista y fisica</td>
    <td> Calcular (sensar )filtraje total con hardawere que nose pege al acuario sino que se recolecte agua del acuario</td>
 
  </tr>
    </tr>
    <tr>
    <td><b>zapperfish    </b></td>
    <td  style="background-color: orange;" >Hardware</td>
    <td style="background-color: hsl(39.4, 93.6%, 63.3%);">1.5 años</td>
    <td>electronica frecuencias</td>
    <td>frecuencias y veterinaria</td>
    <td>cuarar enfermedades de peces mediante medicina bioenergetica</td>
 
  </tr>
    <tr>
    <td><b>tiempo para evaporar   </b></td>
    <td  style="background-color: yellow;" >Hardware</td>
    <td style="background-color: hsl(39.4, 93.6%, 63.3%);">1.5 años</td>
    <td>simulacion a partir de parametros</td>
    <td>termodinamica y  otras cosas que nose</td>
    <td>unir todos los proyectos</td>
    </tr>
    <tr>
    <td><b>fish energy   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(148.3, 61.5%, 45.9%);">2  años</td>
    <td> simulacion</td>
    <td>  electromagnetismo </td>
    <td>Calculadora de  gasto energia </td>
  </tr>
  <tr>
    <td><b>pm25_predict  </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(148.3, 61.5%, 45.9%);" >2 años</td>
    <td>inteligencia artificial </td>
    <td>inteligencia artificial y fisica </td>
    <td>predecir el pm25 para posibles proyectos </td>
    <td><a href="https://github.com/unloquer/pm25_predict">pm25_predict</a></td>
  </tr>
  <tr>
    <td><b>ACUREG   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(148.3, 61.5%, 45.9%);">2.5 años</td>
    <td>manejo de datos por parte del cliente</td>
    <td>saber como manjarlo en cada sistma operativo y plataforma</td>
    <td>crear un registro de acuario manual para luego hacer lo automatico con iot</td>
  </tr>
  <tr>
    <td><b>WQA   </b></td>
    <td  style="background-color: orange;" >Hardware</td>
    <td style="background-color: hsl(148.3, 61.5%, 45.9%);">2.5 años</td>
    <td>iot , sensores y bases de datos</td>
    <td>caliad agua</td>
    <td>water quality agenent sensor de caliad de agua </td>
  </tr>
  
 <tr>
    <td><b>the spoon for the little fish  </b></td>
    <td style="background-color: orange;" >Hardware</td>
    <td style="background-color: hsl(148.3, 61.5%, 45.9%);" >2.5 años</td>
    <td>simulacion  dentro de un  sistemas embebidos y dar respuesta segun lo  sesnado </td>
    <td>alimentacion y termodinamica  ,iot , sensores y bases de datos</td>
    <td>un dispositivo que de de comer  a los peces y la cantidad consultando en los sensores de un aquiario y de la comida segun esas medidas</td>
  </tr>

  <tr>
    <td><b>pm2.5 from inteligencia artificialr to water   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(148.3, 61.5%, 45.9%);" >2.5 años</td>
    <td>inteligencia artificial </td>
    <td>inteligencia artificial y fisica </td>
    <td>un posible acercamiento del pm2.5 que queda atrapado por el agua y principalmente predecirlo </td>
  </tr>
  
    <tr>
    <td><b>aquarium as home   </b></td>
    <td  style="background-color: orange;" >Hardware</td>
    <td style="background-color: hsl(148.3, 61.5%, 45.9%);">2.5 años</td>
    <td>conexion y apliaciones multiplataforma</td>
    <td>colores (para las luses ) electrnica y mas</td>
    <td>acuario con interacion con el usuario</td>
  </tr>
      <tr>
    <td><b>fish neighborhood   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(148.3, 61.5%, 45.9%);" >3  años</td>
    <td>geolocaliacion y procesamianto de datos  </td>
    <td>estadistica</td>
    <td>Mapa de peces dividido or sectores  </td>
  </tr>
  
  <tr>
    <td><b>FISHpeace   </b></td>
    <td  style="background-color: orange;" >Hardware</td>
    <td style="background-color: hsl(200.3, 62.7%, 47.3%);"> 4 años</td>
    <td>inteligencia artificial en  sistemas embebidos</td>
    <td>deteccion de objetos</td>
    <td>camara para controlar territorialidad la idea es que en un  solo  micro controlador este metido todo para no optimisar y no usar cosas que nose nesitan  como alginas funciones de libreriasun para hacerlo mas liviano</td>
  </tr>
  <tr>
    <td><b>wikiFISH   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(200.3, 62.7%, 47.3%);" >4 años</td>
    <td>manejo datos </td>
    <td>optimización y estadística para que se a rapido </td>
    <td>montar un wiki opensource y modificarlo para que sea mas apliacble para uso con peces y animales</td>
  </tr>
  <tr>
    <td><b>FISHblog   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(200.3, 62.7%, 47.3%);" >4 años</td>
    <td>manejo datos </td>
    <td>optimización y estadística para que se a rapido </td>
    <td>montar un blog opensource y modificarlo para que sea mas apliacble para uso con peces y animales</td>
  </tr>

    <tr>
    <td><b>My fish never sick   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(200.3, 62.7%, 47.3%);" >4 años</td>
    <td>inteligencia artificial  </td>
    <td>inteligencia artificial </td>
    <td>Cuando se enferma un pez una medida de perevencion de enfermedades para peces </td>
  </tr>
    <tr>
    <td><b>baby fish being born   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(200.3, 62.7%, 47.3%);" >4 años</td>
    <td>inteligencia artificial  </td>
    <td>inteligencia artificial </td>
    <td>predictor de cria cuando un pez va criar o esta criando </td>
  </tr>


    <tr>
    <td><b>Poseidón   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(200.3, 62.7%, 47.3%);" >4 años</td>
    <td>inteligencia artificial  </td>
    <td>inteligencia artificial </td>
    <td>patrones entre los peces y el clima y entorno</td>
  </tr>



    <tr>
    <td><b>best cheap fish   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(200.3, 62.7%, 47.3%);" >4 años</td>
    <td>desarrollo Web </td>
    <td>-------------- </td>
    <td>paginas para vendores de peces y pescados para generar competencia </td>
  </tr>
  <tr>
    <td><b>curapeces   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(200.3, 62.7%, 47.3%);" >4 años</td>
    <td>vision computacional y inteligencia artificial </td>
    <td>inteligencia artificial </td>
    <td>identificar enfermedades de peces </td>
    <td><a target="_blank" href="https://github.com/jero98772/curapeces">curapeces</a></td>
  </tr>
   <!-- 
    <tr>
    <td><b>nombre   </b></td>
    <td style="background-color: yellow;" >software</td>
    <td style="background-color: hsl(200.3, 62.7%, 47.3%);" > años</td>
    <td>rama compuation  </td>
    <td>rama  math </td>
    <td>identificaodor </td>
  </tr>
-->
</table> 
    <br>
3 tres proyectos cumplida la meta se sube a internet para tener un poco de variedad frente al tema avanses en
    <br>
    <p><h1><font color="green">algunas veces en curapeces</font></h1></p>
    <p><h1><font color="green"> divePC</font></h1></p>
    <p><h1><font color="green">calcular litros gráficamente</font></h1></p>
    <p><h1><font color="green">  calcuPH </font></h1></p>
    <p>Base de datos peces </p>
    <p>curapeces</p>
    <p><h1>todo puede tener una posible mejora o empeorar hasta cierto punto </h1><b><font color="green"> verde es que ya nose van a editar mas para terminarlos a menos de una causa</font></b></p>


{% endblock %}