{% extends "/wwwof/template.html" %}
{% block content%}

1 )<h1>infrome de ensayos de entrenamiento</h1>
<br>
con todo el dataset con fondo = mal resultado  no predecia bien la enfermedad sino el fondo pero despues de mucho calculo en el procesador fucniona mejor
con el datasaet todo fondo blanco = mejoro considerable mente  debido que ya no se fija en el fondo ya que son 
<br> 
2 )<h1>cambio a de datasets </h1>
<br>
se piensa cambiar por tipo de medicacion como en donde se desarrolla el proyecto principalmente y se iso este informe se cambio tipo de enfermedad por tipo de medicamnto para ser mas eficiente y competitvo se decido sacar de aqui <a href="https://www.seachem.com/medications.php#*" target="_blank"> Seachem</a>   y tambien <a href="http://www.tetra-fish.com/learning-center/troubleshooting/fish-illnesses-how-to-spot-them.aspx" target="_blank"> Tetra</a> no se sabe como quede esta mescolansa de esnayos
lo que se entinde en curapeces como 
<br>
<ul>
	<li>anticeptico: es una sustacia que se usa para que no infecten el tejido los microrganismos  </li>
	<li>antiviotico: una sustacia que impide la reproduccion de los microrganismos como bacterias y parasitos  </li>
</ul>
<br>marca * donde cumple la condicion principal
<br>marca + donde cumple la condicion secundaria
<table border="3">
	<tr>
	<th>enfermedad\ tratameinto</th>
		<th>contra virus</th>
		<th>contra parasitos</th>
		<th>contra bacterias</th>
		<th>contra hongos</th>
		<th>anticeptico </th>	
		<th>antiviotico</th>
		<th>acondicionar bien el acuario(limpiarlo)</th>
		<th>depende de la enfemedad la cura</th>
	</tr>
	<tr>
	<th>gusanos de anclaje o gusanos de anclaje</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>*</th>
		<th></th>
		<th>el acuario puede que se encontrarse en buenas condiciones</th>
		<th></th>
	</tr>
	<th>Body flukes</th>
		<th></th>
		<th>*</th>
		<th></th>
		<th></th>
		<th></th>
		<th>+</th>
		<th>[]</th>
		<th>puede que este con especies no compatibles</th>
	</tr>
	<tr>
	<th>aleta sujeta</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>*</th>
		<th>[]</th>
		<th></th>
	</tr>
	<tr>
	<th>hidropesía</th>
		<th></th>
		<th></th>
		<th>*</th>
		<th></th>
		<th></th>
		<th>+</th>
		<th>el acuario puede que se encontrarse en buenas condiciones</th>
		<th> mermales la comida </th>
	</tr>
	<tr>
	<th>ICH o punto blanco</th>
		<th></th>
		<th>*</th>
		<th></th>
		<th></th>
		<th></th>
		<th>+</th>
		<th>[]</th>
		<th></th>
	</tr>
		<tr>
	<th>hongos</th>
		<th></th>
		<th></th>
		<th>*</th>
		<th></th>
		<th></th>
		<th>+</th>
		<th>[]</th>
		<th></th>
	</tr>
	<tr>
	<th>flukes en branquias</th>
		<th></th>
		<th>*</th>
		<th></th>
		<th></th>
		<th></th>
		<th>+</th>
		<th>[]</th>
		<th></th>
	</tr>
	<tr>
	<th>ácaros branquiales</th>
		<th></th>
		<th>*</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>[]</th>
		<th></th>
	</tr>
		<tr>
	<th>septicemia hemorrágica</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>[]</th>
		<th>no se conose el tratamiento exacto al ser un virus</th>
	</tr>
	<th>piojos</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>*</th>
		<th></th>
		<th>el acuario puede que se encontrarse en buenas condiciones</th>
		<th></th>
	</tr>
	<th>aleta caudal irregular</th>
		<th></th>
		<th></th>
		<th></th>
		<th>*</th>
		<th></th>
		<th></th>
		<th>el acuario puede que se encontrarse en buenas condiciones</th>
		<th></th>
	</tr>
</table>


<table border="3">
	que medicamentos sireven medicamento / tratamiento
	
</table>
nota muchas enfermedades producidas por bacterias son confundidas por hongos
<br>
<br>
<br>
<h1>quitar fondo de la imagen ayuda a que identifique mejor en la enfermedad</h1>
{% endblock %}