<!DOCTYPE html>
<head>
<html lang="en">
<meta charset="UTF-8"> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title></title>
	<link rel="stylesheet" type="text/css" href="barra_superior.css">
</head>
<body>
{% block body %}
	<center >
		<div id="header">
			
		<ul class="bar">
			<li> <a href="">Proyects already done</a> 
				<ul>
					<li><a href="https://github.com/jero98772/calcupH_js">calcuPH</a></li>
					<li><a href="https://github.com/jero98772/PHpythoncalcultator"> PHpythoncalcultator</a></li>
					<li><a href="https://github.com/jero98772/dibujo_acuario_p5js">dibujo_acuario_p5js</a></li>
			
				</ul>
			</li>
	
		<li><a href="">Proyects  for test already done</a>
				<ul>
					<li><a href="calcupH_js/ph.html">calcuPH</a> </li>
					<li><a href="dibujo_acuario_p5js_español/wwwof_calcular_litros.html">dibujo_acuario_p5js</a></li>
					</ul>
				</li>
			</ul>

		</div>
	</center>
{% endblock %}
</body>
</html>