{% extends "base.html" %}
{% block content%}
<meta charset="utf-8">
<title>p5.js example</title>
<style> body {padding: 0; margin: 0;} </style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="{{ url_for('static', filename='js/libraris/p5/p5.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/libraris/p5/addons/p5.dom.min.js')}}"></script>
<center><script type="text/javascript" src="{{ url_for('static', filename='js/PC.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/divePC.js')}}"></script></center>
<meta charset="UTF-8"> 
<h1>divePC </h1>
<p> <h3>is computer in fish tank with with good look like</h3></p>

</br>
</br>
</br>


{% endblock %}