1 )<h1>infrome de ensallos de entrenamiento</h1> 
con todo el dataset con fondo = mal resultado  no predecia bien la enfermedad sino el fondo pero despues de mucho calculo en el procesador fucniona mejor
con el datasaet todo fondo blanco = mejoro considerable mente  debido que ya no se fija en el fondo ya que son iguales 
2 )<h1>cambio a de datasets </h1>
se piensa cambiar por tipo de medicacion como en donde se desarrolla el proyecto principalmente y se iso este informe se cambio tipo de enfermedad por tipo de medicamnto para ser mas eficiente y competitvo se decido sacar de aqui <a href="https://www.seachem.com/medications.php#*"> seachem medications </a> y tambien <a href="http://www.tetra-fish.com/learning-center/troubleshooting/fish-illnesses-how-to-spot-them.aspx"> tettra</a> no se sabe como quede esta mescolansa de esnayos
<br>marca * donde cumple la condicion
<table border="3">
	<tr>
	<th>enfermedad\ tratameinto</th>
		<th>contra virus</th>
		<th>contra parasitos</th>
		<th>contra bacterias</th>
		<th>contra hongos</th>
		<th>anticeptico </th>	
	</tr>
	<tr>
	<th>gusanos de anclaje o gusanos de anclaje</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>*</th>
	</tr>
	
</table>
<table border="3">
	<td>
	que medicamentos sireven medicamento / tratamiento
		<th>viral</th>
		<th>parasitaria</th>
		<th>bacteriana</th>
		<th>de hongo</th>
		<th>limpiesa</th>	
	</td>
</table>

<table border="3">
	
</table>
