{% extends "base.html" %}
{% block content%}
 <p><p>Acuario domotico<p>
 <p> sensor agua</p>
 <p> Calcular porque la evacoparacion del acuario</p>
 <p> Calcular filtraje total </p>
 <p>limpisa y flujo hidrodinamica Calculal vida no vista y suciedad minima</p>
<br>
<p>Ai Cuando se enferma un pez predict Identificar enfermedades de peces Predictor de cria Predictor de clima y relacion acuatica</p>
<br>
<p>Extra</p>
<br>
<p>Calcular medidas Mapa de peces Base de datos peces Comaparar precios tiendas de acuarios Computador dentro de acuario</p>
<br>
<p>Mini proyectos Calcular litros Mini registro de datos peces en archivo json Registro acuario o toma de notas del acuario Calculcural gasto energia Arduino camara para controlar territotialidad calcuPH #falta una formula para despejar cuadratica o con for</p>
<br>
<p>Plan de ejecucion Se nesesita el sensor de calidad de aire para evaporacion del acuario y para predictor de clima relacion acuatica por si se esta evapornado mucho es el … calor posiblemente del exterior y interior y mas propiedades dentro del agua</p>
<br>
<p>Con calcular vida no vista serviría para calcular arena suelta material particulado Si en el sensor de calidad de aire hay muho marerial particulado sirve para ver si hay va haber mucho en el agua y para eso resina de intercabio ionica y sabe. Mos que con mucha suciedad se enferma los peces enespecial (girodactilo el de las agallas) para curar enfermedades de peces y predictor de cria y si el acuario (tocaria ver si. Las bacterias aerobiacas se las derecta para ver si hay un nivel de limpiesa con ellas)</p>
<br>
<p>Flujo para ver si se nesista menos para que crien para que no tire poca agua para afuera del acuario y asi capture material particulado el clima con la luna para el predictor de cria y evaporacion el agua por agua salpicada o por la velocidad o por que se calienta los motores</p>
<br>
<p>Predictor de cria mediante los datos anteriores y mas como humedad en el anbiente salud del pez ,corriente del agua ,si hay muchas bacterias la temoeratura, por el mucho flujo que el filtro nose trage los alebines y que el clima se el adecuado con el predictor de clima dandole los datasets de el los senores</p>
<br>
<p>Predictor de. Clima agruape los datos de cada sensor y los utilese para predecir los siguientes datos de cada uno</p>
<br>
<p>clasisificacion de estos proyectos segun para denominar cual ir ejecutando</p>
<br>
<p>Nombre :Principalmente_hardware_o_software:tiempo_limite:rama_de_la_informatica:nivel_math</p>
<br>
    <br><b>nombre</b> de la division del proyecto
    que abarca principalmente hardwere o software si tiene hardwere que no sea un computador de escritorio es hardware
    <br><b>tiempo limite</b> para poder avansar en otros proyectos o realisar todo de manera prototipo y irlo mejorando y varia dependiendo del equipo y la cantidad de integrantes
    <br><b>rama_de_la_informatica</b> –> para identificar de que se trata
     <br><b>nivel_math</b> –> para identificar su complejidad
    <br>

<ol>
  <li><b>WWWOF   </b>:ambos #por ser el proyecto central :25 o 22 años : gestion de proyectos: depende del proyecto</li>
  <li><b>divePC   </b>::Hardware : 2 semanas : documentacion y DIY : fisica</li>
  <li><b>dibujo_acuario_p5js   </b>calcular litros gráficamente :software: 2 meses full para mejorar # ya esta hecho :graficos :geometria</li>
  <li><b>calcuPH   </b>: software:2 meses full : “caculadoras” , ph y codigo :matematicas de PH y quimica</li>
  <li><b>JsonFISH    </b>: software : 4 meses full :manejo datos :optimización y estadística para que se a rapido</li>

  <li><b>fishDB   </b> software : 4 meses full : manejo datos :optimización y estadística para que se a rapido</li>

  <li><b>wikiFISH   </b>: software : 6 Meses full : manejo datos : optimización y estadística para que se a rapido</li>
  <li><b>curapeces   </b></li>
  <li><b>   </b></li>
  <li><b>   </b></li>
  <li><b>   </b></li>
  <li><b>   </b></li>
  <li><b>   </b></li>
</ol>
    <br>
3 tres proyectos cumplida la meta se sube a internet para tener un poco de variedad frente al tema avanses en
    <br>

    <p><h1><font color="green"> divePC</font></h1></p>
    <p> calcular litros gráficamente</p>
    <p><h1><font color="green">  calcuPH </font></h1></p>
    <p>Base de datos peces </p>
    <p><h1>todo puede tener una posible mejora o empeorar hasta cierto punto </h1></p>


{% endblock %}