{% extends  "base.html"%}
{% block content %}


<form action="/data_basecsv/actualisar/{{fish_features.0}}" method="POST">	

<input type="text" name="cientific_name"  value="  {{ fish_features.1 }} ">

<input type="text" name="ph"  value=" {{ fish_features.2 }} ">
<br> 
<input type="text" name="temperature" value=" {{ fish_features.3 }} ">

<input type="text" name="large_of_fish_in_centimeters"  value=" {{ fish_features.4 }} ">
<br> 
<input type="text" name="needed_liters"  value=" {{ fish_features.5 }} ">

<input type="text" name="fish_diet"  value=" {{ fish_features.5 }} ">
<br> 
<input type="text" name="fish_conduct"  value=" {{ fish_features.6 }} ">

<input type="text" name="location" value=" {{ fish_features.7 }} ">

<br> 
<input type="text" name="common_name" value=" {{ fish_features.8 }} ">
<button type="summit ">save </button>




<table  border="1">
	<thead>	
	<tr>
		<td>id</td>
		<td>cientific_name</td>
		<td>ph</td>
		<td>temperature</td>
		<td>large_of_fish_in_centimeters</td>
		<td>needed_liters</td>
		<td>fish_diet</td>
		<td>fish_conduct</td>
		<td>location</td>
		<td>common_name</td>


	</tr>
</thead>
<tbody>
	<tr>
		<td> {{ fish_features.0 }}</td>
		<td> {{ fish_features.1 }}</td>
		<td> {{ fish_features.2 }}</td>
		<td> {{ fish_features.3 }}</td>
		<td> {{ fish_features.4 }}</td>
		<td> {{ fish_features.5 }}</td>
		<td> {{ fish_features.6 }}</td>
		<td> {{ fish_features.7 }}</td>
		<td> {{ fish_features.8 }}</td>
		<td> {{ fish_features.9 }}</td>


	</tr>
	</tbody>
</table>
</form>
{% endblock %}
