{% extends  'www_of/base.html'%}
{% block content %}

		<h1>¿que es wwwof?</h1>
	wwwof es un conjunto de proyecto
	<h5>sus distinstos nombres</h5>
	<li>
		<ul>wwwof</ul>
		<ul>wwwofish</ul>
		<ul>word wide web of fish</ul>
		
	</li>

	<h1><u>
	soon In other languages ,i made possible by speak spanish can you imagine in other language
	</u></h1>
		
	<h1>metodologia de trabajo</h1>
	<h2>cacharreo</h2>
	inetntar hasta logar algo y ensayar contodo el desoreden reciclar cosas "basura"	
	<h2>meta la mano sin miedo </h2>
	la idea que mejor funcione es la que mas dure
	<h2>aportes</h2>
	todo tipo de ideas se reciben ya hechas o corregidos o para errores o ya ocerregidos son bien recibidos si se sabe programar o si quiere a prednder con un proecto este es su lugar pero se reciben informaciones ,sugerencias y datos <h1>tambien puede enviar imagenes de peces enfermos</h1> ya que seran respetadas y a total voluntad del usuario tambien se puede informar detalladamente si va enviar esto publiquelo en git de wwwof  o al corroe de curapeces@gmail.com
	<h3>sub "metodologias"</h3>
	ensayar contodo
	<h1>notas</h1>
	en mi pais son ilegales los peces de agua salada por lo cual no tengo mucha experiencia con ellos pero me gustaria aprender con un "proyecto" o cuidando uno de los peces de agua salada pero la ley es la ley y hay que respetarla
	para ver los informes y los ensayos y mas <a href="informe_de_ensayos.html">informe_de_ensayos</a>
<h6> favor no criticar ortigrafia si le apetese cambiela</h6>
<center>
<h1><b>una de las contribuciones de forma artistiaca y mecanica</b></h1>
<br>
<img src="{{ url_for('static', filename='www_of/img/art.jpg')}}"></center>
 {% endblock  %}
