{% extends  'www_of/base.html'%}
{% block content %}
<!--Mmm list not working i dont like to unconfigure the dropdown menu and i like to make otherwise-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tecnologias_usadas.css')}}">
<div class = "mapa">

<div id = "python">	
	python
</div>

<div>
	javascript	
</div>

<div>	

	html
</div>

<div>
	css

</div>

<div>

	git y github


	postgres

</div>
<!--python-3.x flask html javascript github git tensorflow opencv pytorch postgresql matplotlib scikit-learn sklearn-pandas pandas css p5.js linux
manjaro
ubuntu
ubuntu-18.04
arduino-esp8266
arduino
esp32
esp8266
-->
</div>
{% endblock %}