{% extends  'www_of/base.html'%}
{% block content %}
<table >
<center>
	
<tr>
	<th colspan="2">
		<h2>Time and knowledge</h2>
	</th>
</tr>	
	<tr>
		<th><h3>Time </h3></th>

		<th> <h3>knowledge </h3></th>
	</tr>
<tr>
	<th colspan="2">
		<h2> everyone who can get</h2>
	</th>
</tr>
	
</center>
</table>
<br>
<br>
<br>
<br>
<h2>Materials </h2>
<table  style="width: 100%">
<center>
	
<tr>
	<th colspan="2">
		<h2> needed items name and price</h2>
	</th>
</tr>	
	<tr>
		<th><h2>needed items name </h2></th>
		<th><h2>price or item </h2></th>
	</tr>
<tr>
		<th><h3>fish tank and accesoris depend of your location</h3></th>
		<th><h3>depend of your location </h3></th><!--2500 not dolars -->

</tr>
<tr>
	<th><h3> where programing (computer )</h3></th>
	<th><h3> depend of your computer components</h3></th><!--1800 not dolars -->

</tr>
<tr>
	 <th><h3>where put a web page server</h3></th>
	 <th><h3>depend of components of  server</h3></th><!--depend of components-->
</tr>
<tr>
	 <th><h3>divePC or node divePC</h3></th>
	 <th><h3>depend of fish tank size and quantity of raspberry pi</h3></th><!-- 30*20*20 3 rpi = 500 not dolars -->
</tr>
<tr>
	 <th><h3>raspberri pi for dive pc</h3></th>
	 <th><h3>depend for version of raspberry pi</h3></th>
</tr>
<tr>
	<th><h3>fishtank for raspberri pi for dive pc</h3></th>
	<th><h3>depend of quantity of raspberry pi</h3></th>
</tr>
<tr>
	 <th><h3>screen</h3></th>
	 <th><h3>depend of size </h3></th><!--small-->
</tr>
<tr>
	 <th><h3>AQA</h3></th>
	 <th><h3>depend of materials</h3></th>
</tr>
<tr>
	 <th><h3>electronics components</h3></th>
	 <th><h3>200 not dolars per sensor</h3></th>
</tr>
<tr>
	 <th><h3>domine</h3></th>
	 <th><h3>www.fish</h3></th><!--www.fish-->
</tr>
<tr>
	 <th><h3>more storage</h3></th>
	 <th><h3>
	 for more storage<br>
	 2hdd in use * 4tb for use = total used<br>
	 1hdd not used  * 4tb not used  = total not used <br>
	 <br>
	 total used + total not used  = total memory <br>
	 or<br>
	  total hard drives * 4tb=total memory<br>
	</h3></th>
</tr>
<tr>
	 <th><h3>more ram</h3></th>
	 <th><h3>16+16+32+32=64gb</h3></th>
</tr>
<tr>
	 <th><h3>switcher</h3></th>
	 <th><h3>16 ports *3</h3></th>
</tr>
<tr>
	 <th><h3>cable puncher</h3></th><!--or ponchador -->
	 <th><h3>is a tool <img src="https://http2.mlstatic.com/ponchadora-manual-para-plug-rj45-rj12-rj11-dl5468r-D_NQ_NP_796014-MCO31015599239_062019-O.webp" width="200" height="200"></h3></th>
</tr>
<tr>
	<th><h3>solar panel system o power generation system</h3></th>
	<th><h3>i dont know</h3></th>
</tr>
<tr>
	<th><h3></h3></th>
	<th><h3></h3></th>
</tr>
<tr>
	<th><h3></h3></th>
	<th><h3></h3></th>
</tr>
</center>
</table>
<h1>all is relative</h1> <!-- bueno en esto es relativo -->
<h1>the proyect need dedication and time</h1>

{% endblock %}