{% extends  "/wwwof/template.html"%}
{% block content %}
<center>
<p style="font-size:40px">Drawfishtank</p>
<b><h2>word wide web of fish</h2><b>
</center>
<img src="http://wiki.unloquer.org/_media/personas/jero98772/2021-02-24-145222_225x175_scrot.png" alt="drawfishtnak" width="200" height="200"/>
<style type="text/css">
	body
	{
	/*arawana picture*/
	background-image: url(https://ep01.epimg.net/elpais/imagenes/2018/04/02/mundo_animal/1522660801_641774_1522662021_noticia_normal.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.0/p5.js" integrity="sha256-06BMLzEz/H5XPiFSyP2MjdNIrDV9Z4woSTO/K0sqKi0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.0/p5.min.js" integrity="sha256-CwZPX44X9VxXbhmoN2vi9HX2txOvx+lemuTXYqIspAs=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/drawFISHTANK.js">
</script>
<script type="text/javascript" src="js/FISHTANK.js">
</script>

<meta charset="UTF-8"> 
<p id="figura"> figura<p>
<form>

<p id="lado01">side 1<p>
<input type="text" id="entrada_lado_1" value="10" >

<p id="lado02">side 2<p>
<input type="text" id="entrada_lado_2"  value="10">

<p id="lado03">side 3<p>
<input type="text" id="entrada_lado_3"  value="10">
<br>
<select id="select">
  <option id="prisma_rectangular " value="rectagle">rectagle</option>
  <option id="cubica" value="cubic">cubic</option>
 <!--<option id="fishtank_classic" value="fishtank_classic">fishtank_classic</option>-->
  <option id="prisma_triangular " value="triangle">trianglar prism</option>
  <option id="cilindro" value="cilinder">cilinder</option>
</select>
<br>
<br>
<input type="button" onclick="setInterval(draw,500)"  value="calculate">
<p>liters</p>
<p id="litros" ></p>
<p id="help"></p>
</form>
{% endblock %}
