
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>Word Wide Web of Fish</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='www_of/css/barras.css')}}">
	<center>
		<div id="header">
			
		<ul class="bar">
			<li><a href="/">main menu</a></li>

				<li><a href=""> Proyectos herramientas  </a>
					<ul>
						<li><a href="calcupH.html">calcuPH</a> </li>
						<li><a href="drawFISHTANK.html">drawFISHTANK</a></li>
					</ul>
				</li>
				<li><a href="">AI Proyectos  </a>
					<ul>
						<li><a href="curapeces.html">curapeces</a></li>
					</ul>

				<li><a href="">hardware Proyectos  </a>
					<ul>
						<li><a href="divePC.html">divePC</a></li>

					</ul>
				</li>
				<li><a href="">pequeños Proyectos  </a>
					<ul>
						<li><a href="calcupH.html">calcuPH</a> </li>
						<li><a href="drawFISHTANK.html">drawFISHTANK</a></li>
					<!--li><a href="bechmarck.html">bechmarck</a></li-->

					</ul>
				</li>

				<li><a href="planeacion.html">planes y documentacion</a>
					<ul>
						<li><a href="planeacion.html">planeacion/planing</a>
						<li><a href="tecnologias.html">tecnologias usadas</a>
					</ul>
				</li>
				<li><a href="">todas las fuentes y codigo </a>
					<ul>
					<li><a href="calcupH.html">calcuPH</a> </li>
					<li><a href="drawFISHTANK.html">drawFISHTANK</a></li>
					<li><a href="data_basecsv.html">data_basecsv</a></li>
					<li><a href="curapeces.html">curapeces</a></li>
					<!--li><a href="bechmarck.html">bechmarck</a></li-->
					<li><a href="planeacion.html">planeacion/planing</a>
					<li><a href="informe_de_ensayos.html">informe_de_ensayos</a></li>
					<li><a href="divePC.html">divePC</a></li>
					<li><a href="https://github.com/jero98772/calcupH_js">calcuPH</a></li>
					<li><a href="https://github.com/jero98772/PHpythoncalcultator"> PHpythoncalcultator</a></li>
					<li><a href="https://github.com/jero98772/drawFISHTANK">drawFISHTANK</a>
					<li><a href="https://github.com/jero98772/curapeces">curapeces</a></li>
					</li>
					<li><a href="http://wiki.unloquer.org/personas/jero98772/requeriminetos-para-semihacker/proyectos-sueltos/wwwof/divepc/start">divePC</a></li>
					<li><a href="https://github.com/jero98772/wwwofish">WWWOF</a></li>
					</ul>
				</li>
				<li><a href="">word wide web of fish es freesoftware</a>
					<ul>
						<li onclick="alert('arreglalos')"><a>tienes promblemas? </a> </li>

						<li onclick="alert('conviertelo como te gusta')"><a>ves algo que no te gusta?</a></li>

						<li onclick="alert('conviertelo rapido ya sea optimisandolo donando para  equipo y corriendo el codigo etc')"><a>muy lento? </a></li>
						<li onclick="alert('agregaselo')"><a> le falta algo?</a></li>
						<li onclick="alert('ayuda')"><a>quiero ayudar</a></li>
						<li onclick="alert('como quieras y puedas hay esta la planeacion')"><a>como puedo ayudar?</a></li>
						<li onclick=" alert('	soon In other languages ,i made possible by speak spanish can you imagine in other language ,can you    translate it or use https://translate.google.com/')"><a>I do not speak Spanish </a></li>
						<li onclick="alert('ponlo a funcionar')"> <a>no funciona </a></li>
						<li onclick="alert('HAZLO/do it ')"><a>  no digas que vas a hacer .../ don't say what are you going to do"</a></li>
						<li onclick="alert('se soluciona')"><a>dañe algo</a></li>
					</ul>
				</li>


			</ul>

		</div>
	</center>
	<br>
	<br>
	<br>
	<br>
{% block content %}

{% endblock %}
<br>
<br>
<br>
<br>
<br>
<br>
<div id="end" style="background-color: rgb(0,0,155,0.7);">
	<a href="https://github.com/jero98772"><img src="https://img.pngio.com/github-logo-icon-of-glyph-style-available-in-svg-png-eps-ai-github-icon-png-256_256.png" height="100" width="100"></a>
	<a href="mailto:curapeces@gmail.com">
	<img src="{{ url_for('static', filename='www_of/img/mail.png')}}" height="100" width="100">
	</a>
	<a href="">
	<span onclick='alert("wallet \n tb1qexn2pck3chxv98knhfmwmdma2mvyuasrmx0g57")'>
		
	<img src="https://bitcoin.org/img/icons/opengraph.png?1584741964" height="100" width="100">
	</span>
	</a>
	<img src="http://wiki.unloquer.org/_media/wiki/logo.png" height="100" width="100">
	<img src="https://arteymedios.org/media/k2/items/cache/92c3523de61d06eebdc515f2babb64b9_XL.jpg" height="100" width="100">
	<img src="https://blog.powerdata.es/hs-fs/hub/239039/file-1056751617-png/images/opensource-logo-resized-600.png"height="100" width="100" >
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Open-source-hardware-logo.svg/200px-Open-source-hardware-logo.svg.png" height="100" width="100" >
<!-- i dont wait this work how i like -->
</div>

</body>
</html>
